:host {
  .container {
    position: relative;
    top: 50vh;
    display: flex;
    justify-content: space-around;
    width: 1500px;
    margin: auto;

    &__text {
      flex: 0.8;
      font-size: 18px;
      line-height: 1.8em;
    }

    img {
      flex-shrink: 0;
      width: 420px;
      border-radius: 360px;
      box-shadow: #181818 0 0 10px 0;
      min-height: 100%;
    }
  }
}
